<nav class="navbar navbar-expand-lg navbar-light bg-transparent ">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-munch-img.png" class="food-munch-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto mx-auto">
                    <a class="nav-link active" id="navItem1" href="/choose">
                        Why Choose Us?
                    </a>
                    <a class="nav-link" href="/menu" id="navItem2">Explore Menu</a>
                    <a class="nav-link" href="/payment" id="navItem3">Delivery & Payment</a>
                     <a class="nav-link" href="/healthy" id="navItem3">Healthy</a>
                      <a class="nav-link" href="/thanking" id="navItem3">Coupons</a>
                        <a class="nav-link" href="/contact" id="#contact">Contact us</a>
                    <a class="nav-link" href="/footer" id="navItem4">Follow Us</a>
                </div>
            </div>
        </div>
    </nav>